<div class="selector">
<mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="defaultSeletedValue">
    <mat-button-toggle value="Less Relevant">
        <div class="text" style="background-color: #bd7263">
            Less Relevant
        </div>
    </mat-button-toggle>
    <mat-button-toggle value="Relevant">
        <div class="text" style="background-color: #c23f3a">
            Relevant
        </div>
    </mat-button-toggle>
    <mat-button-toggle value="More Relevant">
        <div class="text" style="background-color: #c30f10">
            More Relevant
        </div>
    </mat-button-toggle>
</mat-button-toggle-group>
</div>