::ng-deep .mat-button-toggle-label-content {
    padding: 0px !important;
    width: 100%;
    height: 100%;
}
mat-button-toggle {
    width: 150px;
  }

  .mat-button-toggle-disabled{
    border: 1px solid #c5c0c7;
  }

.selector {
    border-radius: 25px;
}

.mat-button-toggle-checked {
    border: 1px solid blue;
}

mat-button-toggle-group {
    flex-wrap: wrap;
}